@model TimeSwap.Models.HABILIDADE

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
       Editar Habildiade
        <small>Editar Habilidade @Model.DESCRICAO</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    @using (Html.BeginForm()){
        @Html.AntiForgeryToken()
        <div class="box box-primary">
            <div class="box-body">
                @Html.LabelFor(model => model.DESCRICAO)
                @Html.TextBoxFor(model => model.DESCRICAO, "" , new {@Class="form-control"})
            </div>
            <div class="box-footer">
                <input type="submit" class="btn btn-primary pull-left" value="Editar" />
                <div>
                    @Html.ActionLink("Voltar", "Index", "Cargos", null, new { @class = "btn btn-default" })
                </div>  

            </div>
        </div>
            }      
</section>
